repos:
-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0  
    hooks:
    -   id: flake8
        args: [--config=.flake8] 
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0  
    hooks:
    -   id: mypy
        additional_dependencies: [types-requests] 